.beer-table-container {
  padding: 16px;
  overflow-x: auto;
}

table {
  width: 100%;
}

th.mat-header-cell {
  font-weight: bold;
}

td.mat-cell {
  padding: 8px 16px;
}

.beer-name {
  cursor: pointer;
  color: var(--bs-link-color);
  text-decoration: underline;

  &:hover {
    color: var(--bs-link-hover-color);
  }
}